{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static%}

{% block title %} Add Article {% endblock %}

{% block style %}
<style>
    .articel
    {
    width: 700px;
    margin: auto;

    }
</style>

{% endblock style %}

{% block body %}

<section style="padding-top: 10%; ">
<script src="{% static 'js/script.js' %}" type="text/javascript"></script>
 <div class="container mt-5 articel">
     <form action = "" method = "POST" novalidate>
        {{ article_form | crispy}}
         {% csrf_token %}

         <input type="submit" value="Add Article" class="btn btn-success">

     </form>
 </div>
</section>
{% endblock %}

