{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Even when you lose all the hope, some hope always remains</title>
    <link rel="icon" href="http://127.0.0.1:8000/static/images/favicon.ico">
  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
  <!-- Fontawsome -->
  <script src="https://kit.fontawesome.com/190550c134.js" crossorigin="anonymous"></script>
  <!-- Bootstrap scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg sticky-top " style = "background-color: rgb(0,0,0, 0.8);">
  <img class="fgh" src = "http://127.0.0.1:8000/static/images/Transparent-logo.png" alt = "fgh">
  <h1 class=" nts navbar-brand" href="#"><b><strong>Make myself better</strong></b></h1>
       <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        <a class=" nts edf nav-link active" href="{{link4}}"><b><strong>Home</strong></b></a>
      </li>
    </ul>
       <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        <a class=" nts edf nav-link active" href="{{link5}}"><b><strong>Articles</strong></b></a>
      </li>
    </ul>
      <p class="nts"><strong><i class="fa-solid fa-user"></i>{{request.user}}</strong></p>

       <!--<h5><b><strong></strong></b></h5> -->
  </div>
</nav>
<section id = "lol" style="background-color: #3330E4;">
<div class="jumbotron p-3 p-md-5 text-white rounded" style="background-color: #3330E4; ">
           <div class="col-md-6 px-0">
          <h1 class="alla display-4 font-italic"><b><strong>Even when you lose all the hope, some hope always remains</strong></b></h1>
          <p class=" nts alla lead my-3">Self Motivation</p>
        </div>
      </div>
    </section>
<!-- <div class="share-btn-container">
      <a href="#" class="facebook-btn">
        <i class="fab fa-facebook"></i>
      </a>

      <a href="https://twitter.com/share?url=[post-url]&text=[post-title]" class="twitter-btn">
        <i class="fab fa-twitter"></i>
      </a>

      <a href="#" class="pinterest-btn">
        <i class="fab fa-pinterest"></i>
      </a>

      <a href="#" class="linkedin-btn">
        <i class="fab fa-linkedin"></i>
      </a>

      <a href="#" class="whatsapp-btn">
        <i class="fab fa-whatsapp"></i>
      </a>
    </div> -->

    <div class="content">
        <img src="https://www.makemebetter.net/wp-content/uploads/2022/02/MMB-IMAGE-JPG-79-1536x864.jpg">
        <h4 class ="alma"><b><strong>Even when you lose all the hope, some hope always remains</strong></b></h4>

        <p class="nts" >FEB 9, 2022 BLOG / SELF MOTIVATION</p>
        <div class="fb-like" data-href="http://127.0.0.1:8000/app8/webpage2" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="true"></div>
      <p class="nts mt-5" >
         We all can hit rock bottom. It feels awful. All we can see is darkness and feel despair because it doesn’t seem like things will ever change. This is an illusion.

No matter how bad things seem, they will not remain like this forever. Anything that you are experiencing now is temporary. It will pass, and you will remain.

Just because one element of your life is particularly bad right now doesn’t mean that everything in your life is equally bad, equally dark. Try to remind yourself of all the good things you have.

Who are the people around you, who are the most important people in your life? What are the things that matter most to you in your life? What are the good things you have? Focus on the big and the small, the little pleasures of life and the relationships that can keep you afloat even during dark times.

Try to take a perspective that emphasizes the bigger picture. How will you look back on this situation in a year? In five years? In ten? This can help you recognize that, perhaps, the situation is not as bad as it seems or feels at the moment, even if it appears all-encompassing.

Remember that your emotions will pass. We might feel consumed by grief, fear, anger, or sadness, but these emotions will shrink and disappear with time. They will not last forever, so soon you will feel different.

There is always hope, because nothing that happens to us is permanent. Even if we experience a long-lasting change or shift, the way we feel about it will change. We will adapt and find ways to manage, even if it is something that seems unmanageable at the beginning.

Remember that darkness, even the deepest darkness, cannot and will not last forever. Your goal is to hang in there until it gets better because it will.

Even if you can’t find the reason to hope, there always is one. You might not be able to see it, but it is there. Focus on the bigger picture, on the time that will pass and change your emotions, and on everything else that can bring you hope.

There is always a chance that things will change for the better. Don’t give up just because it all seems so bleak now, because nothing lasts forever.

Don’t forget to share this article on WhatsApp, Facebook, and Twitter.
      </p>

    </div>

<!-- <script src="main.js"></script> -->
<section id="comments" >
       <p>
  <a class="btn btn-primary btn-lg btn-block" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Add a Comment
  </a>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body" style="background-color: #3AB4F2">
    <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v14.0&appId=742010503658334&autoLogAppEvents=1" nonce="GyJ9IoGa"></script>
      <div class="fb-comments" data-href="http://127.0.0.1:8000/app8/webpage2" data-width="" data-numposts=""></div>
  </div>
</div>
</section>


 <section id = "ctasm2">
      <h4 class="ctas" style="color: white;" >Share this website on following social media platforms  : </h4>
          <div class="row">
  <div class = "feature-box col-lg-4">
      <a href="whatsapp://send?text=http://127.0.0.1:8000/" data-action="share/whatsapp/share" target="_blank"><i class="fa-brands fa-whatsapp-square fa-3x"></i></a>
    <p style="color: white;"><b>Whatsapp</b></p>
  </div>
              <div class = "feature-box col-lg-4">
      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <p style="color: white;"><b>Twitter</b></p>
  </div>

   <div class = "feature-box col-lg-4">
        <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
            <script type="IN/Share" data-url="https://www.linkedin.com"></script>
     <p style="color: white;"><b>Linkedin</b></p>
  </div>
   </div>
      <h4 class="ctas" style="color: white;" >Follow us on following Social Media Accounts : </h4>
   <div class="row">
  <div class = "feature-box col-lg-4">
      <a href="https://www.instagram.com/ishanvj25/"><i class="fa-brands fa-instagram fa-2x"></i></a>
    <p style="color: white;"><b>Instagram</b></p>
  </div>
  <div class = "feature-box col-lg-4">
      <a href="https://www.facebook.com/ishan.vijay.731"><i class="fa-brands fa-facebook fa-2x"></i></a>
    <p><b style="color: white;">facebook</b></p>
  </div>
   <div class = "feature-box col-lg-4">
       <a href="https://www.linkedin.com/in/ishan-vijay-49a655224/"><i class="fa-brands fa-linkedin fa-2x"></i></a>
     <p style="color: white;"><b>Linkedin</b></p>
  </div>
   </div>
  </section>


  <!-- Footer -->

  <section id = "footer1" >

      <div style="padding-bottom : 7%; ">
          <a href=" http://127.0.0.1:8000/mailsender/mailform " class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Contact Us</a>
      </div>
    <img class="fgh" src = "http://127.0.0.1:8000/static/images/Transparent-logo.png" alt = "fgh">
    <p style = "color: white;"><b>© Copyright 2022 Make myself better</b></p>

      <p style="color: white;" ><b>Source Make me better</b></p>
  </section>



</body>
</html>