{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>What do you actually want in your life?</title>
    <link rel="icon" href="http://127.0.0.1:8000/static/images/favicon.ico">
  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
  <!-- Fontawsome -->
  <script src="https://kit.fontawesome.com/190550c134.js" crossorigin="anonymous"></script>
  <!-- Bootstrap scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg sticky-top " style = "background-color: rgb(0,0,0, 0.8);">
  <img class="fgh" src = "http://127.0.0.1:8000/static/images/Transparent-logo.png" alt = "fgh">
  <h1 class=" nts navbar-brand" href="#"><b><strong>Make myself better</strong></b></h1>
       <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        <a class=" nts edf nav-link active" href="{{link6}}"><b><strong>Home</strong></b></a>
      </li>
    </ul>
       <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        <a class=" nts edf nav-link active" href="{{link7}}"><b><strong>Articles</strong></b></a>
      </li>
    </ul>
      <p class="nts"><strong><i class="fa-solid fa-user"></i>{{request.user}}</strong></p>

       <!--<h5><b><strong></strong></b></h5> -->
  </div>
</nav>
<section id = "lol" style="background-color: #3330E4;">
<div class="jumbotron p-3 p-md-5 text-white rounded" style="background-color: #3330E4; ">
           <div class="col-md-6 px-0">
          <h1 class="alla display-4 font-italic"><b><strong>What do you actually want in your life?</strong></b></h1>
          <p class=" nts alla lead my-3">Self Motivation</p>
        </div>
      </div>
    </section>
<!-- <div class="share-btn-container">
      <a href="#" class="facebook-btn">
        <i class="fab fa-facebook"></i>
      </a>

      <a href="https://twitter.com/share?url=[post-url]&text=[post-title]" class="twitter-btn">
        <i class="fab fa-twitter"></i>
      </a>

      <a href="#" class="pinterest-btn">
        <i class="fab fa-pinterest"></i>
      </a>

      <a href="#" class="linkedin-btn">
        <i class="fab fa-linkedin"></i>
      </a>

      <a href="#" class="whatsapp-btn">
        <i class="fab fa-whatsapp"></i>
      </a>
    </div> -->

    <div class="content">
        <img src="https://www.makemebetter.net/wp-content/uploads/2022/01/MMB-IMAGE-JPG-68-1536x864.jpg">
        <h4 class ="alma"><b><strong>What do you actually want in your life?</strong></b></h4>

        <p class="nts" >JAN 1, 2022 BLOG / SELF MOTIVATION</p>
        <div class="fb-like" data-href="http://127.0.0.1:8000/app8/webpage3" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="true"></div>
      <p class="nts mt-5" >
       Dreams do come true, if only we wish hard enough. You can have anything in life if you will sacrifice everything else for it.

We all have our goals. But are these goals truly ours? Are they truly worth it? Are we ready to give our all to achieve whatever we want to achieve?

Often, we pursue goals but give up at the first sign of trouble or difficulties. We might say we want better health or happiness or another vague idea, but in practice, we are not willing to pursue it to the end. We are not willing to make sacrifices, especially when our goal is not entirely well-defined or does not come from us.

Consider the things you say you want. What have you done to achieve them? Are you ready to give up your days and nights, to practice until you get it right? Are you ready to challenge society or your parents or your partner and convince them with your own dedication?

If you find that you are unwilling to truly take your goal and pursue it, perhaps it means that this goal is not for you, it’s not something that you want. Often, we might set goals that come from society or our parents but are not authentically ours.

We might give up easily at things that we are not meant for and that are not meant for us. But at the same time, without work and dedication, we are unlikely to achieve anything.

A goal requires sacrifice. Success at work means giving up some time elsewhere, pursuing hobbies or relationships, for instance. Understanding what we are willing to sacrifice and what we perceive as things worthy of this sacrifice can help us understand our priorities in life and pursue the objectives that truly matter and that make our lives more meaningful.

It’s not always clear what we truly want. We might need to dig into the ideas we have inherited from our families or cultures. Give yourself some time to think about what you truly want. What is that thing that you come back to time and again? What remains present no matter the distractions?

Find out how you want to shape your life by understanding the most meaningful goals. Don’t be afraid to spend time doing this, as it is a better use of your time than pursuing something you don’t want or need.

This doesn’t mean that working towards our dreams is endless toil and suffering. But there are elements of these, too. We need to allow ourselves to set priorities and pursue the goals that we truly want. These are the things we are willing to make sacrifices for.

Don’t forget to share this article on WhatsApp, Facebook, and Twitter.
      </p>

    </div>

<!-- <script src="main.js"></script> -->
<section id="comments" >
       <p>
  <a class="btn btn-primary btn-lg btn-block" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Add a Comment
  </a>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body" style="background-color: #3AB4F2">
    <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v14.0&appId=742010503658334&autoLogAppEvents=1" nonce="91oKVF2x"></script>
      <div class="fb-comments" data-href="http://127.0.0.1:8000/app8/webpage3" data-width="" data-numposts=""></div>
  </div>
</div>
</section>


 <section id = "ctasm2">
      <h4 class="ctas" style="color: white;" >Share this blog on following social media platforms  : </h4>
          <div class="row">
  <div class = "feature-box col-lg-4">
      <a href="whatsapp://send?text=http://127.0.0.1:8000/" data-action="share/whatsapp/share" target="_blank"><i class="fa-brands fa-whatsapp-square fa-3x"></i></a>
    <p style="color: white;"><b>Whatsapp</b></p>
  </div>
              <div class = "feature-box col-lg-4">
      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <p style="color: white;"><b>Twitter</b></p>
  </div>

   <div class = "feature-box col-lg-4">
        <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
            <script type="IN/Share" data-url="https://www.linkedin.com"></script>
     <p style="color: white;"><b>Linkedin</b></p>
  </div>
   </div>
      <h4 class="ctas" style="color: white;" >Follow us on following Social Media Accounts : </h4>
   <div class="row">
  <div class = "feature-box col-lg-4">
      <a href="https://www.instagram.com/ishanvj25/"><i class="fa-brands fa-instagram fa-2x"></i></a>
    <p style="color: white;"><b>Instagram</b></p>
  </div>
  <div class = "feature-box col-lg-4">
      <a href="https://www.facebook.com/ishan.vijay.731"><i class="fa-brands fa-facebook fa-2x"></i></a>
    <p><b style="color: white;">facebook</b></p>
  </div>
   <div class = "feature-box col-lg-4">
       <a href="https://www.linkedin.com/in/ishan-vijay-49a655224/"><i class="fa-brands fa-linkedin fa-2x"></i></a>
     <p style="color: white;"><b>Linkedin</b></p>
  </div>
   </div>
  </section>


  <!-- Footer -->

  <section id = "footer1" >

      <div style="padding-bottom : 7%; ">
          <a href=" http://127.0.0.1:8000/mailsender/mailform " class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Contact Us</a>
      </div>
    <img class="fgh" src = "http://127.0.0.1:8000/static/images/Transparent-logo.png" alt = "fgh">
    <p style = "color: white;"><b>© Copyright 2022 Make myself better</b></p>

      <p style="color: white;" ><b>Source Make me better</b></p>
  </section>



</body>
</html>