{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
<nav class=" navbar navbar-expand-lg fixed-top navbar-light " style="background-color : rgb(0,0,0, 0.8);">
  <img class="fgh" src = "http://127.0.0.1:8000/static/images/Transparent-logo.png" alt = "fgh">
  <a class="navbar-brand" style="color: white;" href="{% url 'article_list' %}">Make myself better</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mx-5 ">
      {% if request.user.is_authenticated %}


      <li class="nav-item">
        <a class="njk edf nav-link disabled" style="color: white;" href="" >Welcome, {{request.user.username}}</a>
      </li>

      <li class="nav-item dropdown">
        <a class="njk edf nav-link dropdown-toggle" style="color: white;" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Profile
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="egf dropdown-item"  style="color: black;" href="{% url 'password-change' %}">Change Password</a></li>

        </ul>
      </li>
      <li class="nav-item">
        <a class="njk edf nav-link"  style="color: white;" href="{% url 'index' %}">Home</a>
      </li>
      <li>
    <form  method="get" action="pagination/search" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query" id="query">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
        <!-- </li>
        <li class="nav-item">
        <a class="njk edf nav-link"  style="color: white;" href="{% url 'logout' %}">Logout</a>
      </li> -->
      {% else %}

      <li class="nav-item">
        <a class="njk edf nav-link"  style="color: white;" href="{% url 'login' %}">Login</a>
      </li>
      <li class="nav-item">
        <a class="njk edf nav-link"  style="color: white;" href="{% url 'register' %}">Register</a>
      </li>

      {% endif %}
    </ul>
  </div>
</nav>